table,th,td{
    border: 1px solid black;
}
body {
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.table,td,th{
    height:80px;
    width: 150px;
    background:plum;
    margin: 15px;
}